snippet ep "custom log error println"
customLog.ErrorLog.Println($0)
endsnippet

snippet ef "custom log error fatal"
customLog.ErrorLog.Fatal($0)
endsnippet


snippet lp "custom log info println"
customLog.InfoLog.Println($0)
endsnippet

snippet lpf "custom log info printf"
customLog.InfoLog.Println($0)
endsnippet
